body {
  text-align: center;
  font-family: 'Happy Monkey', cursive;
  background: linear-gradient(#a2d2ff, #EFB0C9);
  color: #ffffff;
}

h1, h2, h3, h4, p {
  text-shadow: 0 0 1px black;
}

#bff-img {
  width: 150px;
  border-radius: 50%;
  border: 6px solid #EFB0C9;
  margin-bottom: 10px;
}

#bday-age {
  background: #EFB0C9;
  padding: 5px 10px;
  border-radius: 5px;
  margin: 5px 0 10px 0;
}

#bday-date {
  margin: 0;
  background: #EFB0C9;
  padding: 5px 10px;
  border-radius: 5px;
}

#header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gift-section {
  margin-top: 50px;
}

.gift-title {
  margin-bottom: 10px;
}

.gift-hint {
  margin-top: 0;
}

#gift-img-cheers {
  height: 200px;
}

.gift-img {
  margin: 20px auto;
  max-width: 400px;
  height: 400px;
  border: 6px solid white;
  border-radius: 10px;
  background-image: url("alma gift.png");
  background-size: cover;
}

#gift-img-happy:hover {
  background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNDk0ejl2ZXdxeXN2dmgwMmtxc3NqN2owc3Z1enlhdzk1c3hycnRtMyZlcD12MV9naWZzX3NlYXJjaCZjdD1n/chzz1FQgqhytWRWbp3/giphy.gif");
}

#gift-img-hot:hover {
  background-image: url("https://media.giphy.com/media/5K7ngCtszoxxbaBieC/giphy.gif?cid=ecf05e475pa0bsy0hterad0xanuo0ke7t3kefnl7se67emk4&ep=v1_gifs_search&rid=giphy.gif&ct=g");
}

#gift-img-genius:hover {
  background-image: url("https://media.giphy.com/media/8F38jOB55n26lW4qcg/giphy.gif?cid=790b7611495jlj4dmbmsqruul0m8qecqpgcvu4wa3xpvk624&ep=v1_gifs_search&rid=giphy.gif&ct=g");
}

#gift-img-badass:hover {
  background-image: url("https://media.giphy.com/media/nSMHqqd361tFW5SoGj/giphy.gif?cid=ecf05e47z4h7x62d6h7scern6lw33w152wbgqbvfn5m0e9jf&ep=v1_gifs_search&rid=giphy.gif&ct=g");
}

#gift-img-cheers:hover {
  background-image: url("https://media.giphy.com/media/3oz8xEXgWWnUXIQI4o/giphy.gif?cid=ecf05e47xkjgjisy81lsp9itbcl1zlve3imicwkfdrb3g0lp&ep=v1_gifs_search&rid=giphy.gif&ct=g.gif");
}

#footer {
  font-style: italic;
  width: 400px;
  margin: 40px auto 20px;
}

a {
  color: white;
}
